.modal__otp-container {
  position: relative;

  & .container {
    padding: 0;
  }

  & .modal__otp-close-btn {
    position: absolute;
    z-index: 10;
    right: 1.2rem;
    top: 1.2rem;

    & svg {
      font-size: 2.4rem;
      color: $text-color;
    }
  }

  & .modal {
    transition: unset;
    max-width: 500px;
    width: 100%;
    padding: 0;
    padding: 3rem 2rem;
    @include responsive(md-screen) {
      padding: 5rem 4rem;
    }

    & .modal__login-close-btn {
      position: absolute;
      right: 1.3rem;
      top: 1.3rem;

      & svg {
        font-size: 2.4rem;
        color: $text-color;
      }
    }

    & .auth-container {
      & .auth__inner {
        padding: 0;
        margin-top: 0;

        &-right {
          padding: 0;

          & .modal__otp-close-btn {
            display: block;
          }
        }

        &-right {
          width: 100%;
          max-width: unset;

          & .form-item-input {
            font-size: 1.8rem;
            height: 50px;
          }

          & .form-item-text-error {
            font-size: 1.3rem;
          }
        }
      }
    }

    & .auth-container {
      min-height: unset;
      max-height: unset;
      background-color: $white;
      padding: 0;

      & .form-heading {
        margin-bottom: 0;
      }

      & .auth__inner-right {
        border: 0;
      }
    }

    & .modal__otp-header {
      margin-bottom: 2rem;
      text-align: center;
      @include style-text(500, 1.8rem, 2rem, $text-color);
    }

    & form {
      padding-top: 3rem;

      & button[type="submit"] {
        width: 100%;
        background-color: $danger;
      }
    }
  }

  & .otp-container {
    padding: 0;
    max-width: unset;
    border: 0;

    & .form-control {
    }
  }

  & .modal__otp-back-btn {
    position: absolute;
    left: 1.4rem;
    top: 1.2rem;

    & svg {
      font-size: 2.4rem;
      color: $text-color;
    }
  }

  // .auth-container .auth__inner-right {
  //   padding: 0;
  // }
}
