.account__password-container {
  background-color: #fff;
  padding: 3rem 1.5rem;
  @include responsive(lg-screen) {
    padding-inline: 3rem;
  }
  border-radius: 0.2rem;
}

.account__password {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 1.5rem;
  border: 1px solid $border-color-1;
  background-color: $white;

  & .form-item {
    margin-bottom: 1.5rem;

    & label {
      font-size: 1.4rem;
      font-weight: 500;
    }

    & .form-item-input {
      border-radius: 0.2rem;
    }

    & .form-item-forgot-pw {
      text-align: center;
      background-color: transparent;
      border: 0;
      margin-left: auto;
      display: block;
    }

    &-toggle-pw-btn {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);

      & svg {
        font-size: 1.6rem;
        color: $gray;
      }

      & input {
        padding-right: 3rem;
      }
    }

    &-wrapper {
      position: relative;
    }

    &-forgot-pw {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;
      margin-top: -0.4rem;

      & a {
        margin-left: auto;
        white-space: nowrap;
        cursor: pointer;
        @include style-text(500, 1.3rem, 1.3rem, $text-color);
      }
    }

    & .form-item-text-error {
      margin-top: 0.6rem;
    }
  }

  & form {
    flex: 1;
  }

  & button[type="submit"] {
    width: 100%;
    padding-block: 1rem;
    font-size: 1.4rem;
  }
}
