.cart__body-total-coupons {
  .modal {
    height: unset;
    width: unset;
    width: 96vw;
    padding: 2rem;

    @include responsive(sm-screen) {
      width: 90vw;
    }

    @include responsive(md-screen) {
      width: 80vw;
    }

    @include responsive(lg-screen) {
      width: 50vw;
    }

    @include responsive(xl-screen) {
      width: 40vw;
    }
  }
}

.promotion__modal {
  background-color: $white;

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    display: flex;
    &-heading {
      @include style-text(500, 1.8rem, 2.8rem, $text-color);
    }

    &-search {
      @include input;
      font-weight: 500;
    }

    & button {
      margin-left: 1rem;
    }
  }

  &-body {
    margin-top: 2rem;
    flex: 1;
    overflow-y: auto;
    max-height: 70vh;
    @include hide-scrollbar;
    @include responsive(lg-screen) {
      max-height: 60vh;
    }

    &-loading {
      height: 100px;
      @include responsive(md-screen) {
        height: 200px;
      }
      @include flex-center;

      & svg {
        font-size: 3rem;
        fill: $text-color;
      }
    }

    &-empty {
      padding-block: 3rem;
      @include flex-center;
      flex-direction: column;

      &-text {
        text-align: center;
        margin-top: 2rem;
        @include style-text(600, 1.4rem, 1.4rem, $danger);
      }
    }

    & .promotion__modal-list {
      list-style: none;
    }
  }

  &-footer {
    margin-top: 2rem;
    @include flex(flex-end, center);

    & .btn-secondary {
      background-color: $secondary;
    }

    & button {
      padding: 0.8rem 1.6rem;
    }
  }
}

.promotion__item {
  @include flex(flex-start, center);
  padding: 1.2rem;
  border: 1px solid $border-color-1;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;

  &-active {
    border: 1px solid $primary;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-image {
    @include style-text(600, 1.4rem, 2.4rem, $white);
    text-transform: uppercase;
    border-right: 3px dashed rgba($color: #000000, $alpha: 0.1);

    & .image-container {
      width: 70px;
      height: 70px;
      margin-right: 1.2rem;
    }
  }

  &-info {
    padding-inline: 1.2rem;
    flex: 1;
    flex-direction: column;
    @include flex(center, flex-start);

    &-code {
      margin-bottom: 0.5rem;
      @include style-text(500, 1.2rem, 1.8rem, $text-color);
      @include limit-line-text(2);
      @include responsive(sm-screen) {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      @include responsive(lg-screen) {
        margin-bottom: 1rem;
      }
    }

    &-limit {
      margin-bottom: 0.5rem;
      display: inline-block;
      @include style-text(500, 1.1rem, 1.8rem, $text-color);

      @include responsive(lg-screen) {
        margin-bottom: 1rem;
      }
    }

    &-expire {
      @include style-text(500, 1.1rem, 1.6rem, $gray);
      & .expire-from {
        margin-right: 1rem;
      }
    }
  }

  &-icon {
    font-size: 2rem;
    margin: auto 0;
    color: $yellow;
  }
}
