.reset__password-container {
  height: calc(100vh - $header-mobile-height);
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include responsive(lg-screen) {
    padding-block: 3rem;
    height: calc(100vh - $header-login-height);
  }

  & .reset__password {
    max-width: 500px;
    margin: 0 auto;

    & .auth-container {
      min-height: unset;
      max-height: unset;
      padding: unset;

      & .auth__inner {
        padding: 0;

        &-right {
          max-width: unset;
          padding: 0;
          border: 1px solid $border-color-1;

          & .auth__form-container {
            padding: 3rem 2rem;
            @include responsive(lg-screen) {
              padding: 4rem 3rem;
            }

            & .form-heading {
              display: block;
            }

            & .form-item {
              & input {
                font-size: 1.6rem;
              }

              & .form-item-text-error {
                font-size: 1.3rem;
              }
            }
          }
        }

        &-left {
          display: none;
        }
      }
    }

    & .otp-container {
      max-width: unset;
      border-radius: 0;
      padding: 0;
      border: 0;

      @include responsive(lg-screen) {
        padding-inline: 2rem;
      }
    }
  }

  & .account__password {
    padding-block: 3rem;
    max-width: unset;
  }
}
